@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


 @layer base {
    :root {
      --text: #000000;
      --background: #ffffff;
      --theme: #0055ff;
    }
    .dark {
      --text: #ffffff;
      --background: #212529;
      --theme: #0ea5e9;
    }
  }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--text);
}



body {
  font-family: inherit;
  line-height: 1.5;
  background: var(--background);
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}
