* {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}

.form {
    &__title {
        font-size: 40px;
        margin-bottom: 60px;
    }
    &__form {
        margin-top: 30px;
        & button {
            margin-top: 5px;
        }
    }
    &__inputs {
        max-width: 400px;
        display: flex;
        flex-direction: column;
    }
    &__input {
        margin-bottom: 20px;
    }
    &__checkboxDiv {
        display: flex;
        align-items: center;
        gap: 5px;
    }
    &__error {
        font-size: 16px;
        color: #ff4c4c;
        margin-top:10px;
    }
}

.changePassword {
    &__error {
        margin: 0;
    }
    &__checkboxDiv {
        margin-bottom: 20px;
        display:flex;
        align-items: center;
        gap: 5px;
    }
    &__input {
        margin-bottom: 4px;
    }
}

.newUser {
    &__success {
        position: absolute;
        left: 15px;
        padding: 20px 30px;
        background: #dcdcdc;
        border-radius: 10px;
        transition: .5s ease all;
    }
    &__visible {
        bottom: 15px;
    }
    &__hidden {
        bottom:-100%;
    }
}
