.button {
    padding: 10px 20px;
    font-size:16px;
    color: white;
    background-color: blue;
    border-radius: 8px;
    outline: none;
    border: none;
    transition: 0.2s ease all;
    cursor: pointer;
}


.button:active {
    transform: translateY(-7px);
}
.button:disabled {
    background: #6666ff;
    cursor: auto;
}
.button:disabled:active {
    transform: none;
}