.banner {
  position: absolute;
  left: 15px;
  padding: 20px 30px;
  background: #dcdcdc;
  border-radius: 10px;
  transition: .5s ease all;
};

.visible {
  bottom: 15px;
}
.hidden {
  bottom:-100%
}